$list-group-border-radius: 0;

@import "bootstrap/scss/bootstrap";

.list-group > .list-group-item {
  border-left: none;
  border-right: none;

  a {
    color: $gray-900;

    &:hover {
      text-decoration: none;
    }
  }
}

.tasks-list > .list-group-item {
  padding-top: 2 * $list-group-item-padding-y;
  padding-bottom: 2 * $list-group-item-padding-y;
}
