.list-group > .list-group-item {
  border-left: none;
  border-right: none;

  a {
    color: $gray-900;

    &:hover {
      text-decoration: none;
    }
  }

  + .list-group-item {
    border-top: none;
  }
}
